
.credit-card{
  background-color: #042848;
  color: orangered;
  width:420px;
  height: 320px;
  padding: 0px 5px;
  border-radius: 12px;
}
.container{
  display: flex;
}
.title{
  text-align: right;
  padding:5px;
}
.text{
  flex:1;
  padding-right:8px;
}
.card-number{
color: #c5b361;
}
.date-exp{
  text-align: right;
  color: #c5b361;
  padding-right: 30px;
}
.card-holder{
  font-size: 25px;
}


